<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>Forms</ion-title>
    <ion-buttons right>
      <button [class.hide]="!formVersionLoaded" ion-button outline color="dark" class="mc-button-round" (click)="showCompleted()">
        Completed
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar color="primary">
    <ion-item no-lines>
      <ion-label>Form Versions</ion-label>
      <ion-select [(ngModel)]="formVersion.Id" interface="popover">
        <ion-option *ngFor="let formVersion of formVersions" (ionSelect)="selectFormVersion(formVersion)" value="{{formVersion.Id}}">{{formVersion.mobilecaddy1__Label__c}}
        </ion-option>
      </ion-select>
    </ion-item>
  </ion-toolbar>

  <ion-toolbar color="primary" no-padding>
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let tab of tabs" tappable (click)="tabSelected(tab.id)">
          <div class="tab {{tab.active}}">
            {{tab.name}}
          </div>
          <div class="tab-border {{tab.active}}">
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>

</ion-header>

<ion-content>

  <!-- Using 'class.hide' instead of *ngIf because *ngIf 
      causes mc-form component to re-initialise when 'showSummary' changes.
      *ngIf adds/removes elements to/from the DOM. -->
  <span [class.hide]="showSummary">
    <mc-form2 [generateForm]="generateForm" (editingBegan)="onEditingBegan($event)" [saveInProgress]="saveInProgress" (saveInProgressResult)="onSaveInProgress($event)"
      picklistInterface="popover" [submit]="submit" (submitResult)="onSubmit($event)" (tabTapped)="onTabTapped($event)" (tabsBuilt)="onTabsBuilt($event)"
      [selectTab]="selectTab" tabContainerClass="hide">
    </mc-form2>
  </span>

  <span [class.hide]="!showSummary">
    <div padding>
      <h3 *ngIf="score >= passMark">Certified</h3>
      <h3 *ngIf="score < passMark">Failed</h3>
      <ion-grid>
        <ion-row>
          <ion-col>
            ROOM SCORE
          </ion-col>
          <ion-col>
            {{score}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            AVAILABLE SCORE
          </ion-col>
          <ion-col>
            {{maxScore}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            PASS MARK
          </ion-col>
          <ion-col>
            {{passMark}}
          </ion-col>
        </ion-row>
      </ion-grid>

      <!-- Failed questions -->
      <ion-grid>
        <ion-row *ngIf="incorrectQuestions.length > 0">
          <ion-col>
            <div>Failed questions</div>
            <div *ngFor="let field of incorrectQuestions">
              <br/>
              <div>{{field.question}}</div>
              <!-- Use ng if/then/else to display field value -->
              <div *ngIf="field.value=='undefined'||field.value==null||field.value=='null'||field.value==''||(field.value=='false'&&field.type=='Checkbox'); then thenTemplateName else elseTemplateName">
              </div>
              <ng-template #thenTemplateName>
                <div>
                  <span *ngIf="field.type==='Checkbox'">Unchecked</span>
                  <span *ngIf="field.type!=='Checkbox'">No value</span>
                </div>
              </ng-template>
              <ng-template #elseTemplateName>
                <div>
                  {{field.value}}
                </div>
              </ng-template>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </span>

</ion-content>

<!-- Empty footer so scroll area is correct after we make buttoned toolbar visible -->
<ion-footer *ngIf="!formVersionLoaded">
  <ion-toolbar>
  </ion-toolbar>
</ion-footer>

<ion-footer *ngIf="formVersionLoaded">
  <ion-toolbar *ngIf="!showSummary">
    <ion-buttons left>
      <button *ngIf="!editingBegan" ion-button outline class="mc-button-round" (click)="cancel()">
        Cancel
      </button>
      <button *ngIf="editingBegan" ion-button outline class="mc-button-round" (click)="cancel()">
        Abort
      </button>
    </ion-buttons>
    <ion-buttons right>
      <button ion-button outline color="dark" class="mc-button-round" (click)="doSaveInProgress()">
        Save progress
      </button>
      <button ion-button solid color="primary" class="mc-button-round" (click)="doSubmit()">
        Submit
      </button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar *ngIf="showSummary">
    <ion-buttons left>
      <button ion-button outline class="mc-button-round" (click)="showForm()">
        Review
      </button>
    </ion-buttons>
    <ion-buttons right>
      <button ion-button solid color="dark" class="mc-button-round" (click)="confirmFinalSubmit()">
        Submit
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>