.md, .ios, .wp {
  mc-form {
    .mc-form-tab-container {
      width: 100%;
      
      ion-grid {
        background-color: map-get($colors,primary);
      }
      
      ion-grid, ion-col {
        padding: 0;
      }
      
      ion-col {
        text-align: center;
      }

      .tab {
        padding: 10px 10px;
      }

      .tab.active {
        color: map-get($colors,secondary);
        font-weight: 700;
      }
      
      .tab.inactive {
        color: #FFFFFF;
      }
    }

    .mc-form-list {
      .field-heading {
        text-align: center;
        font-weight: bold;
      }

      .field-separator {
        height: 1px;
        width: 100%;
        background-color: #000000;
      }

      .picklist-item {
        padding-right: 8px;

        ion-label[stacked] {
          padding-bottom: 5px;
        }
      }

      // Left align the checkbox (the label is stacked above it)
      .checkbox-item {
        [item-content] {
          align-self: start;
        }
      }

      // Remove the line under input fields
      .item-inner, ion-item {
        border-bottom-color: transparent !important;
        box-shadow: none !important;
      }
    }

    // Used to disable labels when for is read only
    .disabled {
      opacity: .4;
      pointer-events: none;
    }
    
  }
}
