<div [style.height]="height">
  <div class="mc-list-search-container">
    <ng-container *ngIf="showSearch">
      <ion-searchbar [debounce]="500" [placeholder]="searchPlaceholder" (ionInput)="filterRecs($event)"></ion-searchbar>
    </ng-container>
  </div>

  <ion-scroll scrollY="true" [style.height]="listScrollHeight" class="mc-list-scroll">
    <ion-list class="mc-list-container">

      <ion-list-header *ngIf="headerTitle">
        {{headerTitle}}
        <button *ngIf="showAddButton" ion-button clear item-right icon-only (click)="clickAdd()">
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-list-header>

      <div padding *ngIf="recs&&recs.length===0&&noDataMsg" [ngClass]="noDataMsgClass ? noDataMsgClass : ''">{{noDataMsg}}</div>

      <ng-container *ngIf="!isCardList">
        <button *ngFor="let rec of recs" ion-item detail-none text-wrap (click)="clickRecord($event,rec)" [ngClass]="itemClass ? itemClass : ''">
          <ion-icon tappable *ngIf="iconsStart" (click)="clickIconStart($event,rec)" [name]="getIconStartName(rec)"
            [color]="getIconStartColor(rec)" [ngClass]="getIconStartClass(rec)" item-start></ion-icon>
          <div *ngFor="let item of displayFields; let i = index">
            <span *ngFor="let field of item.fields; let j = index">
              <span [innerHtml]='wrapField(i,j,rec[field])'></span>
            </span>
          </div>
          <button *ngIf="buttonsEnd&&getButtonEndName(rec)!==''" ion-button (click)="clickButtonEnd($event,rec)"
            [ngClass]="getButtonEndClass(rec)" item-end>
            <span [innerHtml]='getButtonEndName(rec)'></span>
          </button>
          <ion-icon tappable *ngIf="iconsEnd" (click)="clickIconEnd($event,rec)" [name]="getIconEndName(rec)" [color]="getIconEndColor(rec)"
            [ngClass]="getIconEndClass(rec)" item-end></ion-icon>
        </button>
      </ng-container>

      <ng-container *ngIf="isCardList&&addCardStart">
        <ion-card tappable (click)="clickAddCardStart($event)" [ngClass]="addCardStart.cardClass ? addCardStart.cardClass : ''">
          <ion-item tappable [ngClass]="addCardStart.itemClass ? addCardStart.itemClass : ''">
            <button ion-button clear icon-start [ngClass]="addCardStart.buttonClass ? addCardStart.buttonClass : ''">
              <ion-icon [name]="addCardStart.icon"></ion-icon>
              {{addCardStart.text}}
            </button>
          </ion-item>
        </ion-card>
      </ng-container>

      <ng-container *ngIf="isCardList&&!isImageCard">
        <ion-card tappable *ngFor="let rec of recs" (click)="clickRecord($event,rec)" [ngClass]="cardClass ? cardClass : ''">
          <ion-item text-wrap [ngClass]="itemClass ? itemClass : ''">
            <ion-icon tappable *ngIf="iconsStart" (click)="clickIconStart($event,rec)" [name]="getIconStartName(rec)"
              [color]="getIconStartColor(rec)" [ngClass]="getIconStartClass(rec)" item-start></ion-icon>
            <div *ngFor="let item of displayFields; let i = index">
              <span *ngFor="let field of item.fields; let j = index">
                <span [innerHtml]='wrapField(i,j,rec[field])'></span>
              </span>
            </div>
            <button *ngIf="buttonsEnd&&getButtonEndName(rec)!==''" ion-button (click)="clickButtonEnd($event,rec)"
              [ngClass]="getButtonEndClass(rec)" item-end>
              <span [innerHtml]='getButtonEndName(rec)'></span>
            </button>
            <ion-icon tappable *ngIf="iconsEnd" (click)="clickIconEnd($event,rec)" [name]="getIconEndName(rec)" [color]="getIconEndColor(rec)"
              [ngClass]="getIconEndClass(rec)" item-end></ion-icon>
          </ion-item>
        </ion-card>
      </ng-container>

      <ng-container *ngIf="isCardList&&isImageCard">
        <ion-card tappable *ngFor="let rec of recs" (click)="clickRecord($event,rec)" [ngClass]="cardClass ? cardClass : ''">
          <ion-item text-wrap [ngClass]="itemClass ? itemClass : ''">
            <ion-thumbnail *ngIf="imagesStart" [ngClass]="getImageStartClass()" item-start>
              <img [src]="getImageStartSource(rec)">
            </ion-thumbnail>
            <div *ngFor="let item of displayFields; let i = index">
              <span *ngFor="let field of item.fields; let j = index">
                <span [innerHtml]='wrapField(i,j,rec[field])'></span>
              </span>
            </div>
            <button *ngIf="buttonsEnd&&getButtonEndName(rec)!==''" ion-button (click)="clickButtonEnd($event,rec)"
              [ngClass]="getButtonEndClass(rec)" item-end>
              <span [innerHtml]='getButtonEndName(rec)'></span>
            </button>
            <ion-icon tappable *ngIf="iconsEnd" (click)="clickIconEnd($event,rec)" [name]="getIconEndName(rec)" [color]="getIconEndColor(rec)"
              [ngClass]="getIconEndClass(rec)" item-end></ion-icon>
          </ion-item>
        </ion-card>
      </ng-container>

      <ng-container *ngIf="isCardList&&addCardEnd">
        <ion-card tappable (click)="clickAddCardEnd($event)" [ngClass]="addCardEnd.cardClass ? addCardEnd.cardClass : ''">
          <ion-item tappable [ngClass]="addCardEnd.itemClass ? addCardEnd.itemClass : ''">
            <button ion-button clear icon-End [ngClass]="addCardEnd.buttonClass ? addCardEnd.buttonClass : ''">
              <ion-icon [name]="addCardEnd.icon"></ion-icon>
              {{addCardEnd.text}}
            </button>
          </ion-item>
        </ion-card>
      </ng-container>

    </ion-list>
  </ion-scroll>
</div>