<ion-header no-shadow>

  <ion-navbar>
    <ion-title>Record {{data.soupRecordId}}</ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismissShowTableRecord()">
        <span ion-text color="primary" showWhen="ios">Close</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar>
    <ion-title>Table {{data.tableName}}</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-card>
    <ion-list>

      <ion-item *ngIf="!data.record">
        No Record Found
      </ion-item>

      <span *ngIf="data.record">
        <ion-item text-wrap *ngFor="let field of rec">
          <div>
            <strong>{{field.name}}:</strong>
          </div>

          <ion-grid no-padding>
            <ion-row>
              <ion-col col-auto align-self-center>
                <div class="field-value" (click)="showFieldValue(field.value)">
                  {{field.value}}
                </div>
              </ion-col>
              <ion-col *ngIf="field.name==='SOUP_Record_Id'" align-self-center>
                <div padding-left>
                  <button ion-button small (click)="showSoupRecord(rec, field.value)" color="light">
                    Show Record
                  </button>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </span>

    </ion-list>
  </ion-card>

</ion-content>
