<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Settings</ion-title>
    <ion-buttons end>
      <mobilecaddy-sync-icon></mobilecaddy-sync-icon>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding="true">
  <ion-segment [(ngModel)]="settingsTab" color="primary">
    <ion-segment-button value="basic" (ionSelect)="selectedBasic()">
      Basic
    </ion-segment-button>
    <ion-segment-button value="diagnostics" (ionSelect)="selectedDiagnostics()">
      Diagnostics
    </ion-segment-button>
    <ion-segment-button value="advanced" (ionSelect)="selectedAdvanced()">
      Advanced
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="settingsTab">
    <div *ngSwitchCase="'basic'">
      <ion-card id='vsnInfo'>
        <ion-card-header>Version Info</ion-card-header>
        <ion-card-content>
          <em>{{ vsnInfo?.buildName }}.B{{ vsnInfo?.buildVersion }}.D{{ vsnInfo?.dynVersionNumber }}.V{{ vsnInfo?.appVersion
            }}
          </em>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>Sync &amp; Outbox</ion-card-header>
        <button ion-button clear (click)="doSync($event)">
          <ion-icon name="refresh-circle"></ion-icon>
          Sync now
        </button>
        <button ion-button clear (click)="navToOutbox()">
          <ion-icon name="cloud-upload"></ion-icon>
          Outbox
          <span *ngIf="outboxCount">({{outboxCount}})</span>
        </button>
      </ion-card>

      <ion-card>
        <ion-card-header>Advanced</ion-card-header>
        <button ion-button clear *ngIf="upgradeAvailable" (click)="upgrade()">
          <ion-icon name="download"></ion-icon>
          Upgrade
        </button>
        <button ion-button clear (click)="logout()">
          <ion-icon name="exit"></ion-icon>
          Log out
        </button>
        <button ion-button clear>
          <ion-icon name="speedometer"></ion-icon>
          Diagnostics
        </button>
        <button ion-button clear>
          <ion-icon name="settings"></ion-icon>
          Admin Functions
        </button>
      </ion-card>
    </div>

    <div *ngSwitchCase="'diagnostics'">
      Diagnostics coming soon.
    </div>

    <div *ngSwitchCase="'advanced'">
      Advanced functions coming soon.
    </div>
  </div>
</ion-content>